@media only screen and (max-width: 1024px) {
    /* NAV */
    nav {
        display: flex;
        justify-content: start;

    }

    nav li {
        display: none;
    }

    /* HEADER */ 

    .introduce {
        display: flex;
        min-width: 80%;
        margin: 100px auto;
    }
    
    /* PRESENTATION */

    .presentation {
        min-width: 100%;
        margin: 4rem 0;
    }

    .presentation-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-flow: column;
    }

    .box {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 2rem 0;
    }
}